<label class="input__label" [for]="name()">
  {{ label() }}
</label>
<input #inputElement
       [id]="name()"
       class="input__field"
       (keydown)="onTouched?.()"
       [autocomplete]="autocomplete()"
       [type]="showPassword() ? 'text' : type()"
       [disabled]="inputDisabled()"
       [(ngModel)]="value"
       [placeholder]="placeholder()"/>
@if (type() === 'password') {
  <img (click)="toggleShowPassword($event)" class="input__image"
       [ngSrc]="'icons/' + (showPassword() ? 'eye' : 'eye-closed') + '.svg'" height="24" width="24"
       [alt]="showPassword() ? 'eye' : 'eye-closed'"/>
}
