<div class="page page--spaced">
  @if (!mobileView()) {
    <app-header class="header" @fadeOnEnter>
      @if (!loggedIn()) {
        <app-button [routerLink]="['auth', 'login']" customClass="button--small" i18n="@@login_button_text">
          Log In
        </app-button>
      } @else {
        <app-logout-button customClass="button--small button--transparent"/>
      }
    </app-header>
  }

  <main @fadeOnEnter class="page__content" [class.h-full]="mobileView()">
    <router-outlet/>
  </main>
  @defer (when russianLanguage()) {
    @if (russianLanguage()) {
      <footer @fadeOnEnter class="page__footer footer">
        <div class="footer__section">
          <span>ООО «ПРОМОТОР-ИНВЕСТ»</span>
          <span>142104, Московская область, г. о. Подольск, г. Подольск, ул. Литейная, д. 17, кв. 48</span>
          <span>ИНН 5074067591</span>
          <span>ОГРН 1215000000830</span>
        </div>
        <div class="footer__section">
          <span>Тел.: <a href="tel:+79104362768" class="page__link footer__link">+7 (910) 436-27-68</a></span>
          <span>E-mail: <a href="mailto:аa@promoter-invest.com" class="page__link footer__link">аa&#64;promoter-invest.com</a></span>
          <a href="files/Договор_публичной_оферты.pdf" target="_blank" class="page__link footer__link">Договор публичной оферты</a>
          <a href="files/Политика_конфиденциальности.pdf" target="_blank" class="page__link footer__link">Политика конфиденциальности</a>
          <a href="files/Политика_по_обработке_ПД.pdf" target="_blank" class="page__link footer__link">Политика обработки персональных данных</a>
          <a href="files/Согласие_на_обработку_ПД.pdf" target="_blank" class="page__link footer__link">Согласие на обработку персональных данных</a>
        </div>
      </footer>
    }
  }
</div>
