<img class="self-center h-fit" ngSrc="icons/paperclip.svg" width="28" height="28" alt="paperclip">
<div class="input__wrapper">
  <input #input
         (keyup.enter)="onInputClick()"
         [disabled]="disabled()"
         [(ngModel)]="inputText"
         [placeholder]="placeholder()"/>

  <div (click)="onInputClick()"
       class="input__image"
       [class.input__image--disabled]="inputTextEmpty()">
    <img ngSrc="icons/arrow-up.svg" width="24" height="24" alt="arrow-up">
  </div>
</div>
