<app-button customClass="button--big" (click)="onChangePasswordClick()">
  <ng-container i18n="@@change_password">Change password</ng-container>
</app-button>

<dialog #newPasswordDialog>
  <div class="form">
    <app-form-field #currentPasswordInput class="mt-[15px]">
      <app-form-input required
                      [(ngModel)]="currentPassword"
                      [ngModelOptions]="{ standalone: true }"
                      minlength="6" maxlength="50"
                      name="current-password" type="password"
                      autocomplete="password"
                      label="Current password"
                      i18n-label="@@current_password"
                      placeholder="Enter current password"
                      i18n-placeholder="@@enter_current_password"/>
    </app-form-field>

    <app-form-field #newPasswordInput class="mt-[15px]">
      <app-form-input required
                      [(ngModel)]="newPassword"
                      [ngModelOptions]="{ standalone: true }"
                      minlength="6" maxlength="50"
                      name="password" type="password"
                      autocomplete="password"
                      label="New password"
                      i18n-label="@@new_password"
                      placeholder="Enter new password"
                      i18n-placeholder="@@enter_new_password"/>
    </app-form-field>

    @if (changePasswordError()) {
      <app-form-error @fadeInOutHeight>
        <ng-container i18n="@@change_password_error">
          Some error has occurred during the request, please try again later.
        </ng-container>
      </app-form-error>
    }

    <div class="flex justify-between gap-[10px]">
      <app-button (click)="onSavePasswordClick()"
                  [loading]="changePasswordLoading()"
                  [disabled]="!!currentPasswordControl()?.invalid || !!newPasswordControl()?.invalid"
                  class="w-full">
        <ng-container i18n="@@save">Save</ng-container>
      </app-button>
      <app-button customClass="button--white" (click)="onCloseModalClick()">
        <ng-container i18n="@@close">Close</ng-container>
      </app-button>
    </div>
  </div>
</dialog>
