<app-card i18n-title="@@price_per_month"
          i18n-text="@@full_access"
          customClass="!bg-white"
          title="99$ per month"
          titleClass="italic"
          text="Full access to all functions, including document uploading"/>
<app-card i18n-title="@@price_per_year"
          i18n-text="@@full_access"
          customClass="!bg-white"
          title="990$ per year"
          titleClass="italic"
          text="Full access to all functions, including document uploading"/>
