@defer (when !mobileView()) {
  @if (!mobileView()) {
    <ng-container *ngTemplateOutlet="desktopTemplate"/>
  }
}

@defer (when mobileView()) {
  @if (mobileView()) {
    <ng-container *ngTemplateOutlet="mobileTemplate"/>
  }
}

<ng-template #desktopTemplate>
  <header class="header">
    <p class="header__logo">Med<span class="text-blue">GPT</span></p>
    <app-button customClass="button--small">
      {{ 'Log In' }}
    </app-button>
  </header>

  <main class="main">
    <div @fade class="main__heading">
      <h1 class="main__title">
        Welcome to <span>Med<span class="text-blue">GPT</span></span>
      </h1>
      <h2 class="main__subtitle">Your personal assistant in the world of medicine and biology</h2>
    </div>

    <div class="main__info">
      <p @fade class="main__text">
        MedGPT is an AI-powered web application designed to make your work with scientific articles easier. Whether you
        are a scientist, a doctor or a student, MedGPT will help you effectively research, analyze and apply scientific
        information
      </p>
      <div @fade class="main__cards">
        <app-card title="Smart Search"
                  text="Access a database of relevant articles using a powerful search algorithm that understands context"/>
        <app-card title="Automated Analysis"
                  text="MedGPT automatically highlights key points and conclusions, helping you save time on reading"/>
        <app-card title="Quick Literature Review Writing"
                  text="Create concise and informative reviews on topics you are interested in in just a few minutes"/>
        <app-card title="Quickly Find Relevant Information"
                  text="Find the latest and most relevant information for your query without any extra effort"/>
      </div>
      <p @fade class="main__text">
        Start your free trial today and discover new research opportunities!
      </p>
    </div>

    <div class="main__footing">

      <app-button (click)="onButtonClick()" customClass="button--big">
        <span @fade>{{ 'Let’s Chat' }}</span>
        <img @fade ngSrc="/icons/arrow-right.svg" width="24" height="24" alt="arrow-right">
      </app-button>
    </div>
  </main>
</ng-template>

<ng-template #mobileTemplate>
  <main class="main">
    @if (firstStep() || lastStep()) {
      <div @fade class="main__heading">
        <h1 class="main__title">
          Welcome to <span>Med<span class="text-blue">GPT</span></span>
        </h1>
        <h2 class="main__subtitle">Your personal assistant in the world of medicine and biology</h2>
      </div>
    }

    <div class="main__info">
      <h3 class="main__info__title">
        @if (firstStep()) {
          <img @fade ngSrc="/icons/sun-high.svg" width="24" height="24" alt="sun-high">
          <span @fade>What is MedGPT?</span>
        }
        @if (secondStep()) {
          <img @fade ngSrc="/icons/bolt.svg" width="24" height="24" alt="bolt">
          <h3 @fade class="font-semibold">Med<span class="text-blue">GPT</span>&nbsp;Benefits</h3>
        }
        @if (lastStep()) {
          <img @fade ngSrc="/icons/sun-high.svg" width="24" height="24" alt="sun-high">
          <span @fade>Increase your productivity and discover new horizons in science with MedGPT!</span>
        }
      </h3>

      @if (firstStep()) {
        <p @fade class="main__text">MedGPT is an AI-powered web application designed to make your work with scientific
          articles
          easier. Whether you are a scientist, a doctor or a student, MedGPT will help you effectively research,
          analyze
          and apply scientific information</p>
      }

      @if (lastStep()) {
        <p @fade class="main__text">Join the community of professionals using MedGPT to reach new heights in medicine
          and
          biology</p>
      }

      @if (secondStep()) {
        <div @fade class="main__cards">
          <app-card title="Smart Search"
                    text="Access a database of relevant articles using a powerful search algorithm that understands context"/>
          <app-card title="Automated Analysis"
                    text="MedGPT automatically highlights key points and conclusions, helping you save time on reading"/>
          <app-card title="Quick Literature Review Writing"
                    text="Create concise and informative reviews on topics you are interested in in just a few minutes"/>
          <app-card title="Quickly Find Relevant Information"
                    text="Find the latest and most relevant information for your query without any extra effort"/>
        </div>
      }

      @if (lastStep()) {
        <p @fade class="main__text">
          Start your free trial today and discover new research opportunities!
        </p>
      }
    </div>

    <div class="main__footing">
      <div class="main__navigation">
        @for (step of STEPS; track $index) {
          <span [class.active]="currentStep() === step"></span>
        }
      </div>

      <app-button (click)="onButtonClick()" customClass="button--big">
        @if (lastStep()) {
          <span @fade>{{ 'Let’s Chat' }}</span>
          <img @fade ngSrc="/icons/arrow-right.svg" width="24" height="24" alt="arrow-right">
        } @else {
          <span @fade>{{ 'Next' }}</span>
        }
      </app-button>
    </div>
  </main>
</ng-template>
