<app-card [image]="mobileView() ? 'brain' : undefined"
          i18n-title="@@smart_search_card_title"
          i18n-text="@@smart_search_card_text"
          title="Smart Search"
          text="Access a database of relevant articles using a powerful search algorithm that understands context"/>
<app-card [image]="mobileView() ? 'clock-search' : undefined"
          i18n-title="@@automated_analysis_card_title"
          i18n-text="@@automated_analysis_card_text"
          title="Automated Analysis"
          text="MedGPT automatically highlights key points and conclusions, helping you save time on reading"/>
<app-card [image]="mobileView() ? 'vocabulary' : undefined"
          i18n-title="@@review_writing_card_title"
          i18n-text="@@review_writing_card_text"
          title="Quick Literature Review Writing"
          text="Create concise and informative reviews on topics you are interested in in just a few minutes"/>
<app-card [image]="mobileView() ? 'search' : undefined"
          i18n-title="@@relevant_information_card_title"
          i18n-text="@@relevant_information_card_text"
          title="Quickly Find Relevant Information"
          text="Find the latest and most relevant information for your query without any extra effort"/>
