@defer (when !mobileView()) {
  @if (!mobileView()) {
    <div class="main">
      <ng-container *ngTemplateOutlet="mainHeading"/>

      <div class="main__info">
        <ng-container *ngTemplateOutlet="mainDescription"/>

        <app-description-cards/>
      </div>

      <div class="main__footing">
        <ng-container *ngTemplateOutlet="pricingSection"/>
        <app-button (click)="onButtonClick()" customClass="button--big">
          <ng-container [ngTemplateOutlet]="letsChatButton"/>
        </app-button>
      </div>
    </div>
  }
}

@defer (when mobileView()) {
  @if (mobileView()) {
    <div class="main">
      <ng-container *ngTemplateOutlet="mainHeading"/>

      <div class="main__info">
        @if (firstStep() || lastStep()) {
          <h3 class="main__info__title">
            <img @fadeOnEnter ngSrc="icons/sun-high.svg" width="24" height="24" alt="sun-high">
            @if (firstStep()) {
              <span @fadeOnEnter i18n="@@first_step_title">What is MedGPT?</span>
            }
            @defer (when lastStep()) {
              @if (lastStep()) {
                <span @fadeOnEnter i18n="@@last_step_title">Increase your productivity and discover new horizons in science with MedGPT!</span>
              }
            }
          </h3>
        }

        @if (firstStep()) {
          <ng-container @fadeOnEnter *ngTemplateOutlet="mainDescription"/>
        }

        @defer (when lastStep()) {
          @if (lastStep()) {
            <p @fadeOnEnter class="main__text mb-[16px]" i18n="@@last_step_text">
              Join the community of professionals using MedGPT to reach new heights in medicine and biology
            </p>
          }
        }

        @defer (when secondStep()) {
          @if (secondStep()) {
            <app-description-cards @fadeOnEnter/>
          }
        }

        @defer (when lastStep()) {
          @if (lastStep()) {
            <div class="main__pricing">
              <ng-container *ngTemplateOutlet="pricingSection"/>
            </div>
          }
        }
      </div>

      <div class="main__footing">
        <div class="main__navigation">
          @for (step of STEPS; track $index) {
            <span [class.active]="currentStep() === step"></span>
          }
        </div>

        <app-button (click)="onButtonClick()" customClass="button--big">
          @defer (when lastStep()) {
            @if (lastStep()) {
              <ng-container [ngTemplateOutlet]="letsChatButton"/>
            }
          }

          @if (!lastStep()) {
            <span @fadeOnEnter i18n="@@next">Next</span>
          }
        </app-button>
      </div>
    </div>
  }
}

<ng-template #mainHeading>
  <div class="main__heading">
    <h1 class="main__title" i18n="@@greeting_title">
      Welcome to <span>Med<span class="text-blue">GPT</span></span>
    </h1>
    <h2 class="main__subtitle" i18n="@@medgpt_short_description">Your personal assistant in the world of medicine and
      biology</h2>
  </div>
</ng-template>

<ng-template #mainDescription>
  <p class="main__text" i18n="@@medgpt_description">
    MedGPT is an AI-powered web application designed to make your work with scientific articles easier. Whether you
    are a scientist, a doctor or a student, MedGPT will help you effectively research, analyze and apply scientific
    information
  </p>
</ng-template>

<ng-template #mainSubDescription>
  <p class="main__text" i18n="@@start_trial_text">
    Start your free trial today and discover new research opportunities!
  </p>
</ng-template>

<ng-template #letsChatButton>
  <span i18n="@@lets_chat_button_text">Let’s Chat</span>
  <img ngSrc="icons/arrow-right.svg" width="20" height="20" alt="arrow-right">
</ng-template>

<ng-template #pricingSection>
  <app-card>
    <div class="main__pricing">
      <h2 class="main__subtitle" i18n="@@pricing">Pricing</h2>
      <app-pricing-cards/>
    </div>
  </app-card>
  @if (!mobileView()) {
    <ng-container *ngTemplateOutlet="mainSubDescription"/>
  }
</ng-template>
