<div @fadeOnEnter class="page chats__page">
  <app-header class="header" @fadeOnEnter/>
  <div class="chats">
    @if (!mobileView() || sidebarVisible()) {
      <aside @slideInRightOutLeft class="chats__aside">
        <div class="chats__controls">
          <app-create-chat/>
          <app-upload-file/>
        </div>
        <hr class="chats__delimiter">
        <div class="chats__list">
          @for (chat of chats(); track chat.id) {
            <app-chat-item [chat]="chat"/>
          }
        </div>
        <hr class="chats__delimiter">
        <div class="chats__navigation">
          <app-button link="settings" linkActive="button--selected"
                      customClass="button--transparent button--align-start">
            <img ngSrc="icons/settings.svg" width="20" height="20" alt="settings">
            <ng-container i18n="@@settings">Settings</ng-container>
          </app-button>
        </div>
      </aside>
    }

    <main [@fadeOnTrigger]="navigationEnd()" class="page__content chats__content">
      @if (mobileView()) {
        <img class="chats__menu"
             [class.chats__menu--opened]="sidebarVisible()"
             (click)="toggleSidebarVisible()"
             ngSrc="icons/menu.svg" height="24" width="24" alt="menu">
      }
      <router-outlet/>
    </main>
  </div>
</div>
